
body{
    background-color: rgb(178, 199, 193);
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 2rem;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3.1fr);
    gap: 1rem;
    height: 30vh;
    width: 30vh;
}

img{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

nav{
  background-color: aquamarine;
  margin-left:370px;
  margin-right: 385px;
}



